:root {
  --primary-color: #B0EBB4; 
  --secondary-color: #BFF6C3;
  --background-color: #ACE1AF; 
  --text-color: #000000; 
  --highlight-color: #e74c3c; /* Red for Highlights */
}
/* Global body styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
}

/* Component specific styles */
.header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
