body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  min-height: 100vh;
}

.horizontal-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 10px;
}

.userTypeCard {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  cursor: pointer;
  transform: translateY(0px);
  transition: 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 10px 0px darkgray;
    transform: translateY(-3px);
    transition: 0.2s ease-in-out;
    background-color: lightcyan;
  };
}

.largeCard {
  cursor: pointer;
  transform: translateY(0px);
  transition: 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 6px 0px darkgray;
    transform: translateY(-2px);
    transition: 0.2s ease-in-out;
    background-color: #E4EFE7;
    color: #064420;
  };
}

.longCard {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 6px 0px darkgray;
    transform: translateY(-2px);
    transition: 0.2s ease-in-out;
    background-color: #E4EFE7;
    color: #064420;
  };
}

.largeCard {
  cursor: pointer;
  transform: translateY(0px);
  transition: 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 6px 0px darkgray;
    transform: translateY(-2px);
    transition: 0.2s ease-in-out;
    background-color: #E4EFE7;
    color: #064420;
  };
}



